<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    ><h1>This is services page lol</h1>
    <ul>
        <li>
            <a href="{{ url_for('home', _external=True) }} ">home</a>
            <a href="{{ url_for('services', _external=True) }} ">services </a>
            <a href="{{ url_for('contact', _external=True) }} ">contact us </a>
            <a href="{{ url_for('about', _external=True) }} ">about us </a>
        </li>
    </ul>
</body>
</html>